<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qi.storeApp.mapper.ShopcarMapper">

	<!--获取用户的购物详细信息-->
	<select id="getAllShopCarByUserId" resultMap="shopCarMapper">
		select * from ec_shopcar where user_id = #{userId}
	</select>

	<!--关联查询-->
	<resultMap id="shopCarMapper" type="com.qi.storeApp.po.Shopcar">
		<association property="article" column="article_id" select="com.qi.storeApp.mapper.ArticleMapper.getArticleById">

		</association>
	</resultMap>

</mapper>